body > header:first-of-type{
  height: 400px;
  width: 100%;
  text-align: center;
  position: absolute;
  background-color: #BAFFDF;
  background-image:url('../images/asfalt-dark.png') ;
}

header div img{
  position: relative;
}

header h2{
  color: #545149;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: normal;
}

@media only screen and (min-width: 1024px) {

  body > header:first-of-type{
    margin: 2rem;
    width: 30%;
    float: left;
    padding: .5em;
  }

}