nav{
  color: white;
  background-color: #404ee6;
  background-image:url('../images/diagmonds-light.png') ;
  
  height: 120px;
  z-index: 1;
  padding: 1.5em;
  width: 100%;
  box-sizing: border-box;
}
nav span:first-of-type {
  font-family: 'Bungee', 'sans-serif';
  font-size: 40px;
  float: none;
}

nav button{
  position: absolute;
  top: 70px;
  right: 115px;
  background-color:transparent;
  color: #ffff99;
  border: 0px;
}
#writeTweet{
  float: right;
}
nav div span:first-of-type{
  font-family: 'Source Sans Pro', 'sans-serif';
  text-align: center;
  font-size: 25px;
}

/* Be the full width of the viewport. */

@media only screen and (min-width: 1024px) {

  nav{
    position: sticky;
    top: 0;
    background-color:#4056A1;
    background-image: none;
  }
  
}
