.tweet{
  border: 5px solid #545149;
  margin-top: 2em;
}

.tweet header{
  margin: 1em;
  position: relative;
}

.tweet footer {
  border-top: 5px solid #545149;
  padding-top: .5em;
  margin: 1em;
}

.tweet span:nth-of-type(2){
  float: right;
}

.tweet header span:first-of-type{
  padding-left: .5em;
  position: absolute;
  top: 25%;

}

.tweet header span:nth-of-type(2) {
  padding-top: 1em;
}

.tweet p {
  padding: 1em;
}

.tweet:hover{
  font-weight: 700;
  box-shadow: 10px 10px #8888e1;
}

.tweet i {
  float: right;
  padding-left: .5em;
}

#tweet-container{
  margin-top: 1em;
}